<template>
  <div ref="callPage" class="q-pa-md call-page">
    <video id="localVideoChat" ref="localVideoChat" autoplay></video>
    <video id="remoteVideoChat" ref="remoteVideoChat" autoplay></video>

    <div class="row">
      <div class="col"></div>
      <div class="col-8">
        <q-card>
          <q-card-section>
            <div class="text-h6 text-center">Messages</div>
          </q-card-section>
          <q-card-section ref="chatArea">
            <q-scroll-area style="height: 200px; max-width: 500px;">
              <chat-messages :foruser="connectedUser" />
            </q-scroll-area>
          </q-card-section>
        </q-card>
      </div>
      <div class="col">
        <filter-controls />
      </div>
    </div>

    <div class="row text-center form-group">
      <div class="col-md-12">
        <q-input
          ref="callToUserNameInput"
          v-model="callToUserNameInputValue"
          type="text"
          placeholder="username to call"
        />
        <q-btn ref="callBtn" @click="callBtnClick">Call</q-btn>
        <q-btn ref="hangUpBtn" @click="hangUpBtnClick">Hang Up</q-btn>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <q-input
          ref="msgInput"
          v-model="msgInputValue"
          type="text"
          placeholder="message"
        />
        <q-btn ref="sendMsgBtn" @click="sendMsgBtnClick">Send</q-btn>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <q-btn ref="logOutButton" @click="logOutBtnClick">Log Out</q-btn>
      </div>
    </div>
  </div>
</template>

<style>
body {
  background: #eee;
  padding: 5% 0;
}

video {
  background: black;
  border: 1px solid gray;
}

.call-page {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

#localVideoChat {
  width: 192px;
  height: 144px;
  position: absolute;
  top: 15px;
  right: 15px;
}

#remoteVideoChat {
  width: 640px;
  height: 480px;
}
</style>

<script lang="ts">
import { Vue, Component, Ref } from "vue-property-decorator";
import FilterControls from "../components/FilterControls.vue";
import ChatMessages from "../components/ChatMessages.vue";
import { readUserName } from "../store/user/getters";
import { commitLogOut } from "../store/user/mutations";
import { TrackSets } from "../store/media/state";
import { readMediaTrackSet } from "../store/media/getters";
import {
  commitAddMediaTrackToSet,
  commitSetMediaTracks
} from "../store/media/mutations";
import {
  attachMediaTracks,
  createMediaSubscriptions
} from "../store/media/scripts/attaching";
import { readRemoteUser } from "../store/webrtc/getters";
import { commitSetRemoteUser } from "../store/webrtc/mutations";
import { dispatchSendWebSocketMessage } from "../store/websocket/actions";
import {
  defaultRtcConfiguration,
  dispatchOpenRtcPeerConnection,
  dispatchSendWebRtcOffer,
  dispatchSendDataChannelMessage,
  dispatchCloseRtcPeerConnection
} from "../store/webrtc/actions";

@Component({
  components: { FilterControls, ChatMessages }
})
export default class Call extends Vue {
  @Ref() readonly localVideoChat!: HTMLVideoElement;
  @Ref() readonly remoteVideoChat!: HTMLVideoElement;

  unsubscribe: Function;

  get connectedUser() {
    return readRemoteUser(this.$store);
  }
  set connectedUser(val) {
    commitSetRemoteUser(this.$store, val);
  }

  callToUserNameInputValue!: string;
  msgInputValue!: string;

  data() {
    return {
      callToUserNameInputValue: "",
      msgInputValue: ""
    };
  }

  async createRtcPeerConnection() {
    await dispatchOpenRtcPeerConnection(this.$store, {
      conf: defaultRtcConfiguration,
      ontrack: function(e: RTCTrackEvent) {
        commitAddMediaTrackToSet(this.$store, {
          source: TrackSets.remote,
          track: e.track
        });
      }.bind(this)
    });
  }

  async callBtnClick() {
    if (this.callToUserNameInputValue) {
      await this.createRtcPeerConnection();
      await dispatchSendWebRtcOffer(this.$store, this.callToUserNameInputValue);
      this.callToUserNameInputValue = "";
    }
  }

  async sendMsgBtnClick() {
    if (this.msgInputValue) {
      try {
        await dispatchSendDataChannelMessage(this.$store, {
          from: readUserName(this.$store),
          to: this.connectedUser,
          data: this.msgInputValue as string,
          timestamp: Date.now()
        });
      } finally {
        this.msgInputValue = "";
      }
    }
  }

  async leaveCall() {
    await dispatchSendWebSocketMessage(this.$store, {
      type: "leave"
    });

    await dispatchCloseRtcPeerConnection(this.$store);

    // get ready to take another call
    await this.createRtcPeerConnection();
  }

  async hangUpBtnClick() {
    await this.leaveCall();
  }

  async logOutBtnClick() {
    await this.leaveCall();
    commitLogOut(this.$store);
    this.$router.push("/");
  }

  public async mounted() {
    attachMediaTracks(
      this.localVideoChat,
      readMediaTrackSet(this.$store)(TrackSets.local)
    );
    attachMediaTracks(
      this.remoteVideoChat,
      readMediaTrackSet(this.$store)(TrackSets.remote)
    );

    // create before call in order to be able to receive from someone else
    await this.createRtcPeerConnection();

    this.unsubscribe = this.$store.subscribe(
      createMediaSubscriptions([
        { target: this.localVideoChat, source: TrackSets.local },
        { target: this.remoteVideoChat, source: TrackSets.remote }
      ])
    );
  }

  public beforeDestroy() {
    this.unsubscribe();
  }
}
</script>
