<template>
  <div>
    <div ref="loginPage" class="q-pa-md text-center">
      <div class="row">
        <div class="col">
          <h2>WebRtc Video Demo. Please sign in.</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <video id="localVideoLogin" ref="localVideoLogin" autoplay></video>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-4">
          <q-input
            type="email"
            ref="userNameInput"
            v-model="userName"
            label="Login"
            placeholder="Enter your username"
            required
            autofocus
          />
        </div>
        <div class="col">
          <filter-controls />
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-2">
          <q-btn ref="loginBtn" @click="loginBtnClick">Sign in</q-btn>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</template>

<style>
body {
  background: #eee;
  padding: 5% 0;
}

video {
  background: black;
  border: 1px solid gray;
}

#localVideoLogin {
  width: 640px;
  height: 480px;
}
</style>

<script lang="ts">
import { Vue, Component, Ref } from "vue-property-decorator";
import FilterControls from "components/FilterControls.vue";
import { TrackSets } from "../store/media/state";
import { readMediaTrackSet } from "../store/media/getters";
import {
  attachMediaTracks,
  createMediaSubscriptions
} from "../store/media/scripts/attaching";
import { readAmLoggedIn, readUserName } from "../store/user/getters";
import { commitSetLoggedIn, commitSetUserName } from "../store/user/mutations";
import { dispatchCloseRtcPeerConnection } from "../store/webrtc/actions";
import { webRtcSocketHandler } from "../store/webrtc/scripts/handlers";
import {
  dispatchOpenWebSocketConnection,
  dispatchSendWebSocketMessage
} from "../store/websocket/actions";

@Component({
  components: { FilterControls }
})
export default class Login extends Vue {
  @Ref() readonly localVideoLogin!: HTMLVideoElement;

  unsubscribe: Function;

  get amLoggedIn() {
    return readAmLoggedIn(this.$store);
  }
  set amLoggedIn(val) {
    commitSetLoggedIn(this.$store, val);
  }
  get userName() {
    return readUserName(this.$store);
  }
  set userName(val) {
    commitSetUserName(this.$store, val);
  }

  async loginBtnClick() {
    if (this.userName) {
      await dispatchSendWebSocketMessage(this.$store, {
        type: "login",
        name: this.userName
      });
    }
  }

  async handleLogin(success) {
    if (!success) {
      alert("Ooops...try a different username");
    } else {
      commitSetLoggedIn(this.$store, true);
      this.$router.push("/chat");
    }
  }

  public async mounted() {
    // this is the "root" websocket condition used for webrtc signaling
    await dispatchOpenWebSocketConnection(
      this.$store,
      webRtcSocketHandler(
        this.$store,
        this.handleLogin.bind(this),
        (async () => await dispatchCloseRtcPeerConnection(this.$store)).bind(
          this
        )
      )
    );

    attachMediaTracks(
      this.localVideoLogin,
      readMediaTrackSet(this.$store)(TrackSets.local)
    );

    this.unsubscribe = this.$store.subscribe(
      createMediaSubscriptions([
        { target: this.localVideoLogin, source: TrackSets.local }
      ])
    );
  }

  public async beforeDestroy() {
    this.unsubscribe();
  }
}
</script>
