<template>
  <div id="q-app">
    <div v-if="kpmod === null">
      <h1>Loading...</h1>
    </div>
    <div v-else>
      <local-media-sources />
      <router-view />
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import LocalMediaSources from "components/LocalMediaSources.vue";
import { readKeyPointModel } from "./store/media/getters";
import { dispatchLoadKeyPointModel } from "./store/media/actions";

@Component({
  components: { LocalMediaSources }
})
export default class App extends Vue {
  get kpmod() {
    return readKeyPointModel(this.$store);
  }
  public async created() {
    await dispatchLoadKeyPointModel(this.$store);
  }
}
</script>
