<template>
  <div>
    <div v-for="msg in msgs" :key="msg.timestamp">
      <q-chat-message v-if="msg.from === userName" :name="msg.from" :text="[msg.data]" sent />
      <q-chat-message v-else :name="msg.from" :text="[msg.data]" />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ChatMessage } from "../store/user/state";
import { readUserName, readChatMessagesForUser } from "../store/user/getters";

@Component
export default class ChatMessages extends Vue {
  @Prop({ type: String, required: true }) readonly foruser!: string;

  unsubscribe: Function;
  msgs: Array<ChatMessage>;

  data() {
    return {
      msgs: readChatMessagesForUser(this.$store)(this.foruser),
    };
  }

  get userName() {
    return readUserName(this.$store);
  }

  beforeCreate() {
    this.unsubscribe = this.$store.subscribe((mut, state) => {
      if (mut.type === "setChatMessages") {
        this.msgs = readChatMessagesForUser(this.$store)(this.foruser);
      } else if (
        mut.type === "addChatMessage" &&
        (mut.payload.to === this.foruser || mut.payload.from === this.foruser)
      ) {
        this.msgs.push(mut.payload);
      }
    });
  }

  beforeDestroy() {
    this.unsubscribe();
  }
}
</script>