<template>
  <div>
    <q-btn-dropdown color="primary" label="Filters">
      <q-list v-for="f in filters" :key="f.name">
        <q-checkbox v-model="filterNames" :val="f.name">
          <q-item-section>
            <q-item-label>{{ f.name }}</q-item-label>
          </q-item-section>
        </q-checkbox>
      </q-list>
    </q-btn-dropdown>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Filter } from "../store/media/state";
import { readFilters, readActiveFilters } from "../store/media/getters";
import { commitSetFiltersActive } from "../store/media/mutations";

@Component
export default class FilterControls extends Vue {
  filters: Array<Filter>;
  filterNames: Array<string>;

  data() {
    return {
      filters: readFilters(this.$store),
      filterNames: readActiveFilters(this.$store).map(f => f.name)
    };
  }

  beforeUpdate() {
    commitSetFiltersActive(this.$store, this.filterNames);
  }
}
</script>
