<template>
  <div>
    <video id="localMediaSource" ref="localMediaSource" autoplay hidden></video>
    <canvas id="localCanvas" ref="localCanvas" hidden></canvas>
  </div>
</template>

<style>
video {
  background: black;
}

canvas {
  background: black;
}

#localMediaSource {
  width: 640px;
  height: 480px;
}

#localCanvas {
  width: 640px;
  height: 480px;
}
</style>

<script lang="ts">
import { Vue, Component, Ref } from "vue-property-decorator";
import { TrackSets } from "../store/media/state";
import { commitSetMediaTracks } from "../store/media/mutations";
import {
  dispatchStartDrawing,
  dispatchStopDrawing
} from "../store/media/actions";
import { commitAttachWebRtcMediaTracks } from "../store/webrtc/mutations";

export interface CanvasStreamSource extends HTMLCanvasElement {
  captureStream(frameRate?: number): MediaStream;
}

@Component
export default class LocalMediaSources extends Vue {
  @Ref() readonly localMediaSource!: HTMLVideoElement;
  @Ref() readonly localCanvas!: CanvasStreamSource;
  get ctx(): CanvasRenderingContext2D {
    return this.localCanvas.getContext("2d");
  }

  public async mounted() {
    // getUserMedia
    const stream = await navigator.mediaDevices.getUserMedia({
      video: true,
      audio: true
    });

    // hydrate local video
    const localMedia = new MediaStream();
    localMedia.addTrack(stream.getVideoTracks()[0]);
    this.localMediaSource.srcObject = localMedia;

    // initialize local canvas
    this.localCanvas.width = stream.getVideoTracks()[0].getSettings().width;
    this.localCanvas.height = stream.getVideoTracks()[0].getSettings().height;

    // start rendering
    await dispatchStartDrawing(this.$store, {
      ctx: this.ctx,
      img: this.localMediaSource,
      width: this.localCanvas.width,
      height: this.localCanvas.height
    });

    // add tracks to store
    const tracks = [
      ...stream.getAudioTracks(),
      ...this.localCanvas.captureStream().getVideoTracks()
    ];
    commitSetMediaTracks(this.$store, {
      source: TrackSets.local,
      tracks: tracks
    });
    commitAttachWebRtcMediaTracks(this.$store, tracks);
  }

  public async beforeDestroy() {
    await dispatchStopDrawing(this.$store);
  }
}
</script>
